.loginBox{
  width: 400px;
  height: 260px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 3px 6px #ccc;
  position: fixed;
  right:150px;
  top:50%;
  background-color: #fff;
  transform: translate(0,-50%);
}
.primary{
  color: dodgerblue;
}